<div class="header bg-gradient-danger pb-8 pt-5 pt-md-7">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5" *ngFor="let credit of credits; let i = index">
                <ng-container *ngIf="(((i % 3) == 0) && (i!==0)); then newRow;">
                </ng-container>
                <ng-template #newRow>
                    <div class="row">
                        <br>
                    </div>
                </ng-template>
                <div class="card card-stats mb-4 mb-xl-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title text-uppercase text-muted mb-0">Klijent</h5>
                                <span class="h2 font-weight-bold mb-0">{{credit.clientFirstName}} {{credit.clientLasName}}</span>
                            </div>
                            <div class="col-auto">
                                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                            </div>
                        </div>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Glavnica: </span>
                            <span class="text-nowrap">{{credit?.sumOfMoney}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Jmbg: </span>
                            <span class="text-nowrap">{{credit?.jmbg}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Broj računa: </span>
                            <span class="text-nowrap">{{credit.account.accountNumber}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Mjesečna rata: </span>
                            <span class="text-nowrap">{{credit.monthlyPayment | currency: 'EUR':true}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Kamatna stopa: </span>
                            <span class="text-nowrap">{{credit.interest}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Status: </span>
                            <ng-template [ngIf] = "credit.active == true">
                                <span class="text-nowrap">Aktivan</span>
                            </ng-template>
                            <ng-template [ngIf] = "credit.active == false">
                                <span class="text-nowrap">Neaktivan</span>
                            </ng-template>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Datum potpisivanja: </span>
                            <span class="text-nowrap">{{credit.signingDate | date:'dd/MM/yyyy'}}</span>
                        </p>
                        <p class="mt-3 mb-0 text-muted text-sm">
                            <span class="text-success mr-2">Preostala suma: </span>
                            <span class="text-nowrap">{{credit.remainingSum}}</span>
                        </p>
                        <br>
                        <button type="button" class="btn btn-danger" (click) = "stop(credit)">Prekid isplate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>